/* MY simple CSS RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}
/* end reset */


html {
    font-size: 16px;
}

body {
  background: none;
  font-size: 1.05rem;
  line-height: 1.6;
}

#wrapper {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

h2 {
  font-weight: 700;
  letter-spacing: -2px;
  color: #222;
  margin-bottom: .6em;
  margin-top: 2em;
  word-spacing: 0.15em;
}

p {
    margin:  0 0 2em 0;
    color: #0d0d0e;
}

.big-text {
  color: #fafafa;
  background: rgb(16, 6, 59);
}

.hero {
  padding:  0 1.4rem;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .85), rgba(0, 0, 0, 0.93)),url('../../images/country.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1 {
    font-weight: 700;

}


@media screen and (min-width: 768px) {
   .hero {
    position: fixed;
    width: 40%;
    min-height: 100vh;
   }

   .hero h1 {
    /* font-size: 2em; */
    font-weight: 700;
    margin-bottom: .5em;

   }
}

.hero-back-btn {
  align-self: flex-start;
  color: #fff;
  margin: 1em 0 0.5em 0;
}

.hero-email-link {
    text-decoration: none;
    color: #00ffd0;
}

.hero-email-link:hover {
  opacity: .6;
  border: 1px solid red;
}


.hero-content {
  max-width: 500px;
  max-width: 50ch;
  padding: 3em 0;
  text-align: c;
  flex-grow: 1;
}

.hero-content p {
  color: #a8aaac;
  line-height: 1.6
}


.main-content-wrapper {
    max-width: 50ch;
    margin: 0 auto;
}

.my-image {
  margin: 3em 0;
  filter: grayscale(85%);
}

 /* tricky queries... you need to really test carefully when you change content  */
 @media screen and (min-width: 768px)  {
    .my-image {  display:none; }
 }

 @media screen and (min-width: 1024px) and (min-height: 768px)  {
    .my-image {
        display: inherit;
        width: 120px;
        margin: 2em 0;
      }
 }

 @media screen and (min-width: 1280px ) {
    .my-image { width: auto; }
 }



.main.content {
  padding-bottom: 50px;
}

/* contact info in the left section */

.content {
  /* width: 60%; */
  min-height: 100%;
  margin-left: 40%;
  padding: 4em 1.5em;
  overflow: hidden;
}
