@import url(all.min.css);
/* @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400'; */

:root {
	/* --brand-color: #EDC139;  */
	--green-txt: #85e89d;
	--accent-color: #7247c2;
	--bright-blue: #2188ff;
	--secondary-bg: #24292e;
	--primary-txt: #fff;
	--secondary-txt: #959da5;
	--border: #2F363D;
	--border-radius: var(--border-radius);
  }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

	body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}

/* Type */

	body {
		background: #13191E;
		color: #fff;
	}


	body, input, select, textarea {
		font-family: "Source Sans Pro", "Segoe UI", Tahoma, sans-serif;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		a {

			text-decoration: none;
			color: inherit;
		}


	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}
		/* newspaper like column */
		p.content {
			-webkit-columns: 20em 2;
			-ms-columns: 20em 2;
			columns: 20em 2;
			-webkit-column-gap: 2em;
			-ms-column-gap: 2em;
			column-gap: 2em;
			text-align: justify;
		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		letter-spacing: -0.025em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2.5em;
		line-height: 1.2;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2em;
		}

	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: var(--border-radius);
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 2.75em;
		line-height: 2.75em;
		min-width: 9.25em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		border-color: #BCA437;
		-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
				color: #ffffff !important;
	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}


	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: var(--border-radius);
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}


	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background-color: rgba(255, 255, 255, 0.075);
		border-color: rgba(255, 255, 255, 0.35);
	}



/* Image */

	.image {
		/* border-radius: var(--border-radius); */
		/* display: inline-block; */
		position: relative;

	}




/* Actions */
ul.actions {
	display: flex;
}

ul.actions li {
	padding: 0 1em 0 0;
}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 3em;
	}

		header.major h2 {
			font-size: 2em;
		}

			header.major h2:after {
				display: block;
				content: '';
				width: 3.25em;
				height: 2px;
				margin: 0.7em 0 1em 0;
				border-radius: 2px;
			}

				section.special header.major h2:after, article.special header.major h2:after {
					margin-left: auto;
					margin-right: auto;

				}

		header.major p {
			max-width: 65ch;
			margin: 0 auto;
		}



			header.major.special h2:after {
				margin-left: auto;
				margin-right: auto;
			}


	@media screen and (max-width: 736px) {

		header.major {
			margin-bottom: 0;

		}

			header.major h2 {
				font-size: 1.5em;

			}
	}

	header.major h2:after {
		background-color: rgba(255, 255, 255, 0.35);

	}



/* Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-moz-align-items: center;
		-ms-align-items: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0 0 2em 0;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
	}

		.spotlight .content {
			-moz-flex: 1;
			-ms-flex: 1;
			-webkit-box-flex: 1;
			        flex: 1;
			max-width: 500px;
		}

			.spotlight .content p {
				max-width: 600px;
			}

		.spotlight .image {
			display: inline-block;
		}

			.spotlight .image img {
				display: block;
				width: 16em;
			}

		@media screen and (max-width: 980px) {

			.spotlight {
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				text-align: center;
			}

				.spotlight .content {
					-moz-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
					-webkit-box-flex: 0;
					        flex: 0 1 auto;
					width: 100%;
					margin-bottom: 40px;
				}

					.spotlight .content header.major h2:after {
						margin-left: auto;
						margin-right: auto;
					}

					.spotlight .content .actions {
						-moz-justify-content: center;
						-ms-justify-content: center;
						-webkit-box-pack: center;
						    -ms-flex-pack: center;
						        justify-content: center;
						width: calc(100% + 1em);
					}

				.spotlight .image {
					-moz-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
					-webkit-box-flex: 0;
					        flex: 0 1 auto;
					margin-left: 0;
					margin-bottom: 2em;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .image img {
				width: 12em;
			}

		}

	.spotlight .image {
		border-color: rgba(255, 255, 255, 0.35);
	}

/* HOME / TOP MOST INTRO */
	#home {
		height: 100vh;
		-webkit-transition: all 1s ease;
		transition: all 1s ease;
		/* background: linear-gradient(to bottom, #52437b, #13191E); */
		background: linear-gradient(to bottom, #311679, #13191E);
	}

	#home h1 {
		margin: 0 0 0.25em 0;
		font-size: 3.25em;
	}

	#home p {
		font-size: 1.25em;
		letter-spacing: -0.025em;
	}

	body.is-preload #home {
		background-color: #000;
		opacity: 1;
	}

	.home-content {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		text-align: center;
		min-width: 300px;
	}

	.home-content > * {

		-webkit-transition: opacity 3s ease;

		transition: opacity 3s ease;
		-webkit-transition-delay: 0.5s;
		transition-delay: 0.5s;
		opacity: 1;
	}

	.home-content .logo {
		-webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
		transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
		transition: opacity 1.25s ease, transform 0.5s ease;
		transition: opacity 1.25s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		display: block;
		margin: 0 0 1.5em 0;
	}

				#header.alt .logo img {
					display: block;
					margin: 0 auto;
					max-width: 75%;
				}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 4em 0.1em 4em ;
			}

				#header.alt {
					padding: 6em 4em 3em 4em ;
				}

		}

		@media screen and (max-width: 980px) {

			#header {
				padding: 4em 3em 0.1em 3em ;
			}

				#header.alt {
					padding: 5em 3em 2em 3em ;
				}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 3em 2em 0.1em 2em ;
			}

				#header p {
					font-size: 1em;
					letter-spacing: 0;
				}

					#header p br {
						display: none;
					}

				#header.alt {
					padding: 4em 2em 1em 2em ;
				}

					#header.alt h1 {
						font-size: 2.5em;
					}

		}

		@media screen and (max-width: 480px) {

			#header {
				padding: 3em 1.5em 0.1em 1.5em ;
			}

				#header.alt {
					padding: 4em 1.5em 1em 1.5em ;
				}

		}

		@media screen and (max-width: 360px) {

			#header {
				padding: 2.5em 1em 0.1em 1em ;
			}

				#header.alt {
					padding: 3.5em 1em 0.5em 1em ;
				}

		}

		/* body.is-preload .home-content h1, */
		body.is-preload .home-content h1,
		body.is-preload .home-content p
		 {
			opacity: 0;
		}

	/* ------ sec: Nav / burger menu----*/

	.js-main-nav {
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: none;
		z-index: 1;
	}

	.main-nav-list {
		background-color: #13191e;
		text-align: center;
		font-size: 2em;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: .5em 1em;

		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;

		animation: scaleDown 350ms ease-in-out forwards;
		transform-origin: top center;

	}

	.main-nav {
		position: fixed;
		top:0;
		left:0;
		z-index: 1;
	}

	@keyframes scaleDown {
		0% {
			transform: scaleY(0)
		}
		70% {
			transform: scaleY(1.1) /* bounce effect */
		}
		100% {
			transform: scaleY(1)
		}
	}

	@media screen and (min-width: 736px) {

		#home {
			height: calc(100vh - 60px);
		}

		/* override hidden on large screens. we want the nav visibile always */
		.main-nav-list, .main-nav-list.hidden {
			display: block;
			max-width: 1500px;
			margin: 0 auto;
			height: auto;
			font-size: 1em;
			background: none;
			padding: .5em 3em;

		}

		.js-main-nav ul li {
			display: inline-block;
		}
	}


		/* TODO: check */
		.js-main-nav + #main {
			padding-top: 4.25em;
			border: red 12px solid;
		}

		.js-main-nav ul {
			margin: 0;
			list-style: none;
		}

			.js-main-nav ul li {
				-webkit-transition: margin 0.2s ease;
				transition: margin 0.2s ease;
				margin: 0 0.35em;
				padding: 0;
				vertical-align: middle;
			}

				.js-main-nav ul li a {
					-webkit-transition: font-size 0.2s ease;
					transition: font-size 0.2s ease;
					display: inline-block;
					height: 2.25em;
					line-height: 2.25em;
					padding: 0 1.25em;
					border: 0;
					border-radius: var(--border-radius);
					-webkit-box-shadow: inset 0 0 0 1px transparent;
					        box-shadow: inset 0 0 0 1px transparent;
				}

					.js-main-nav ul li a.active {
						/* background-color: #ffffff; */
						color: var(--green-txt);
						-webkit-box-shadow: none;
						        box-shadow: none;
					}

		.js-main-nav.alt {
			position: fixed;
			/* top: 0;
			left: 0; */
			/* padding: 0.5em 1em; */
			background-color: rgb(19, 25, 30, .92);
			border-bottom: 2px solid #2b363f;
			/* border-top-left-radius: 0;
			border-top-right-radius: 0; */
			z-index: 10000;
		}

			.js-main-nav.alt .main-nav-list {
				background: #13191e;
			}


	/* ------Burger menu section-------- */
	.burger-menu-btn {
		/* visibility: hidden; */
		top: -22px;
		right: -20px;
		display: inline-block;
		position: fixed;
		z-index: 99999;
		opacity: 0;
	}

	body:not(.is-preload) .burger-menu-btn {

		-webkit-transition:  all 2s ease-in;
		-moz-transition:  all 2s ease-in;
		-o-transition:  all 2s ease-in;
		transition:  all .5s 1s ease ;
		opacity: 1;
		transform: translate(-44px,44px);
	}

	/* set line colors by default to blue*/
	.burger-menu-btn > div{
		display: block;
		width: 30px;
		height: 2px;
		margin-bottom: 9px;
		background: #fff;
		transform-origin: center;
		transition: .5s;
	}

	/* todo: maybe add a class to the div */
	.js-main-nav.mobile-menu-open + .burger-menu-btn > div{
	transform: translateY(11.5px) rotate(-50deg);
	}

	.js-main-nav.mobile-menu-open + .burger-menu-btn > div:nth-child(2){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);

	}

	.js-main-nav.mobile-menu-open + .burger-menu-btn > div:nth-child(3){
		transform: translateY(-10px) rotate(45deg);
	}


		@media screen and (min-width: 736px) {

			.burger-menu-btn {
				display: none;;
			}


			.js-main-nav {
				position: static;
			}

			.js-main-nav.alt .main-nav-list {
				background: none;
			}

				.js-main-nav.alt ul li a {
					/* font-size: 0.9em; */
				}

				/* TODO: check */
			.js-ain-nav + #main {
				padding-top: 0;
			}

		}

/* Main */

	#main {
		border-bottom: .5px solid #878787;
		border-radius: var(--border-radius).25em;
	}

		#main input, #main select, #main textarea {
			color: var(--primary-txt);
		}

		#main a:hover {
			color: #636363;
		}

		#main strong, #main b {
			color: #636363;
		}

		#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
			color: #fff
		}

		#main blockquote {
			border-left-color: #dddddd;
		}

		#main code {
			background: rgba(222, 222, 222, 0.25);
			border-color: #dddddd;
		}

		#main hr {
			border-bottom-color: #dddddd;
		}

		#main .box {
			border-color: #dddddd;
		}

		#main input[type="submit"],
		#main input[type="reset"],
		#main input[type="button"],
		#main button,
		#main .button {
			background-color: transparent;
			border: 1px solid var(--primary-text);
		}

			#main input[type="submit"]:hover,
			#main input[type="reset"]:hover,
			#main input[type="button"]:hover,
			#main button:hover,
			#main .button:hover {
				background-color: rgba(0, 0, 0);
			}

			#main input[type="submit"]:active,
			#main input[type="reset"]:active,
			#main input[type="button"]:active,
			#main button:active,
			#main .button:active {
				background-color: rgba(0, 0, 0, 0.5);
			}

			#main input[type="submit"].icon:before,
			#main input[type="reset"].icon:before,
			#main input[type="button"].icon:before,
			#main button.icon:before,
			#main .button.icon:before {
				color: rgba(99, 99, 99, 0.25);
			}

			#main input[type="submit"].primary,
			#main input[type="reset"].primary,
			#main input[type="button"].primary,
			#main button.primary,
			#main .button.primary {
				background-color: var(--bright-blue);
				color: #ffffff !important;
				-webkit-box-shadow: none;
				        box-shadow: none;
			}

				#main input[type="submit"].primary:hover,
				#main input[type="reset"].primary:hover,
				#main input[type="button"].primary:hover,
				#main button.primary:hover,
				#main .button.primary:hover {
					/* background-color:var(--bright-blue); */
					opacity: .8;
				}

				#main input[type="submit"].primary:active,
				#main input[type="reset"].primary:active,
				#main input[type="button"].primary:active,
				#main button.primary:active,
				#main .button.primary:active {
					background-color: #7ec3ee;
				}

				#main input[type="submit"].primary.icon:before,
				#main input[type="reset"].primary.icon:before,
				#main input[type="button"].primary.icon:before,
				#main button.primary.icon:before,
				#main .button.primary.icon:before {
					color: #ffffff !important;
				}

		#main label {
			color: #636363;
		}

		#main input[type="text"],
		#main input[type="password"],
		#main input[type="email"],
		#main select,
		#main textarea {
			color: var(#fff);
		}

			#main input[type="text"]:focus,
			#main input[type="password"]:focus,
			#main input[type="email"]:focus,
			#main select:focus,
			#main textarea:focus {
				border-color: #8cc9f0;
				-webkit-box-shadow: 0 0 0 1px #8cc9f0;
				        box-shadow: 0 0 0 1px #8cc9f0;
			}

		#main select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
		}

			#main select option {
				color: #636363;
				background: #ffffff;
			}

		#main input[type="checkbox"] + label,
		#main input[type="radio"] + label {
			color: #636363;
		}

			#main input[type="checkbox"] + label:before,
			#main input[type="radio"] + label:before {
				background: rgba(222, 222, 222, 0.25);
				border-color: #dddddd;
			}

		#main input[type="checkbox"]:checked + label:before,
		#main input[type="radio"]:checked + label:before {
			background-color: #636363;
			border-color: #636363;
			color: #ffffff;
		}

		#main input[type="checkbox"]:focus + label:before,
		#main input[type="radio"]:focus + label:before {
			border-color: #8cc9f0;
			-webkit-box-shadow: 0 0 0 1px #8cc9f0;
			        box-shadow: 0 0 0 1px #8cc9f0;
		}

		#main ::-webkit-input-placeholder {
			color: rgba(99, 99, 99, .80) !important;
		}

		#main :-moz-placeholder {
			color: rgba(99, 99, 99, .80) !important;
		}

		#main ::-moz-placeholder {
			color: rgba(99, 99, 99, .80) !important;
		}

		#main :-ms-input-placeholder {
			color: rgba(99, 99, 99, .80) !important;
		}

		#main .formerize-placeholder {
			color: rgba(99, 99, 99, .80) !important;
		}

		#main .icon.major {
			border-color: #dddddd;
		}

			#main .icon.major:before {
				border-color: #dddddd;
			}

		#main .icon.alt {
			border-color: #dddddd;
			color: #636363;
		}

			#main .icon.alt:hover {
				background-color: rgba(222, 222, 222, 0.25);
			}

			#main .icon.alt:active {
				background-color: rgba(222, 222, 222, 0.5);
			}

		#main ul.alt li {
			border-top-color: #dddddd;
		}

		#main dl dt {
			color: #636363;
		}

		#main header.major h2:after {
			background-color: #dddddd;
			background-image: -webkit-gradient(linear, left top, right top, from(#efa8b0), color-stop(#a89cc8), to(#8cc9f0));
			background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		}

		#main table tbody tr {
			border-color: #dddddd;
		}

			#main table tbody tr:nth-child(2n + 1) {
				background-color: rgba(222, 222, 222, 0.25);
			}

		#main table th {
			color: #636363;
		}

		#main table thead {
			border-bottom-color: #dddddd;
		}

		#main table tfoot {
			border-top-color: #dddddd;
		}

		#main table.alt tbody tr td {
			border-color: #dddddd;
		}

		#main .spotlight .image {
			border-color: #dddddd;
		}

		#main > .main {
			padding: 5em 5em 3em 5em ;

		}

			#main > .main:first-child {
				border-top: 0;
			}

			#main > .main > .image.main:first-child {
				margin: -5em 0 5em -5em;
				width: calc(100% + 10em);
				border-top-right-radius: 0.25em;
				border-top-left-radius: 0.25em;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}

				#main > .main > .image.main:first-child img {
					border-top-right-radius: 0.25em;
					border-top-left-radius: 0.25em;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}

		@media screen and (max-width: 1280px) {

			#main > .main {
				padding: 4em 4em 2em 4em ;
			}

				#main > .main > .image.main:first-child {
					margin: -4em 0 4em -4em;
					width: calc(100% + 8em);
				}

		}

		@media screen and (max-width: 980px) {

			#main > .main {
				padding: 4em 3em 2em 3em ;
			}

				#main > .main > .image.main:first-child {
					margin: -4em 0 4em -3em;
					width: calc(100% + 6em);
				}

		}

		@media screen and (max-width: 736px) {

			#main > .main {
				padding: 3em 2em 1em 2em ;
			}

				#main > .main > .image.main:first-child {
					margin: -3em 0 2em -2em;
					width: calc(100% + 4em);
				}

		}

		@media screen and (max-width: 480px) {

			#main > .main {
				padding: 3em 1em 1em 1em ;
			}

				#main > .main > .image.main:first-child {
					margin: -3em 0 1.5em -1.5em;
					width: calc(100% + 3em);
				}

		}

		@media screen and (max-width: 360px) {

			#main {
				border-radius: var(--border-radius);
			}

				#main > .main {
					padding: 2.5em 1em 0.5em 1em ;
				}

					#main > .main > .image.main:first-child {
						margin: -2.5em 0 1.5em -1em;
						width: calc(100% + 2em);
						border-radius: var(--border-radius);
					}

						#main > .main > .image.main:first-child img {
							border-radius: var(--border-radius);
						}

		}

/* Wrapper */

	#wrapper {
		width: 100%;
		max-width: 1500px;
		margin: 0 auto;
	}



	/* YI ADDITIONAL SECTIONS / STYLES -TODO REORGANIZE LATER ON */
/* contact section */
#contact .contact-form {
	/* padding: 2em; */
	/* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0,0,0,0.22); */
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	letter-spacing: 1.5px;
}

#contact p {
	color: #beb9b9 !important;
}

.contact-form input,
.contact-form textarea {
	background-color: transparent;
	letter-spacing: 1.2px;
}

.contact-form-control {
	margin-top: 20px;
	width: 100%;
}

@media screen and (min-width: 480px) {
	.contact-form .row {
		display: flex;
		justify-content: space-between;
	}
	.contact-form .row .contact-form-control {
		width: 48%;
	}
}



/* experience section */
#main #exp,
#main #contact,
#main #works {
	background-color: #13191E;
}


/* helpers */

.hidden {
	display: none;
}

/* underline  hover links */
a.yi-link {
	display: inline-block;
	border: 0;
}

a.yi-link {
	display: inline-block;
	border: 0;
}

a.yi-link::after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: var(--green-txt);
	-webkit-transition: width .3s;
	transition: width .3s;
}

	a.yi-link:hover::after {
		width: 100%;
	}
/* end underline  hover links */

/* gradient images */
.gradient-image:before, .gradient-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
}

.gradient-image img {
	object-fit: cover;
}

.gradient-image:before {
    background: #000;
    mix-blend-mode: overlay;
    opacity: .3;
}

.gradient-image:after {
    mix-blend-mode: lighten;
    opacity: .7;
    background: linear-gradient(135deg, #af40ff 0%,   #010C4E 75%);
}

 .txt-green {
	 color: var(--green-txt);

 }
.txt-green:hover {
	 opacity: .7;
 }
/* end helpers */


/* Hearbeat animation */
.heartbeat {
	-webkit-animation: beat .25s infinite alternate;
	        animation: beat .25s infinite alternate;
	-webkit-transform-origin: center;
	        transform-origin: center;
	 display: inline-block; /*coz animation not working with inline/span */
	 color: #f97583;
	 padding: 0 5px;

}

/* Heart beat animation */
@-webkit-keyframes beat{
	to { -webkit-transform: scale(1.6); transform: scale(1.6); }
}
@keyframes beat{
	to { -webkit-transform: scale(1.6); transform: scale(1.6); }
}
/* end heartbeat animation */

/* 1. GALLERY MODALS */
.gallery-modal{
    display: none;
	width: 60%;
	max-width: 500px;
	min-width: 280px;
	padding: 1em;
	color: #fff;
}

.gallery-modal .content p {
	font-size: 1.2em;
}

@media screen and (max-width: 700px) {

	.gallery-modal {
		width: 84%;
		border-radius: var(--border-radius);
	}

}



/* TODO: organize later. This is ne*/

/* portfolio item title-bars */

.bar {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    z-index: 10;
}

.bar .bar-title {
    /* content: attr(data-text); */
    /* text-align: center; */
    font-size: 10px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.5px;
    color: #8a8a8a;
}

.bar i,
.bar i:after,
.bar i:before {
	height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}

.bar i {
    background-color: #ff5f57;
    top: 6px;
    left: 10px;
}


.bar i:before {
	content: '';
    left: 16px;
    background-color: #ffbd2e;

}

.bar i:after {
	content: " ";
    left: 32px;
    background-color: #28ca41;
}

/* end portfolio title bars */