.skills-diagram {
  font-size: 16px;
  /* border: green 2px solid; */
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;    
    justify-content: center;
   margin-bottom: 50px;
   letter-spacing: 2px;
}

.skills-diagram .item {
  padding: 15px;
  border: 1px solid #2F363D;
  margin: 2px;
  /* width: 30%; */
 


}

